footer {
    background-color: #011827;
    padding: 30px;
    color: white;
    flex-direction: column;
    display: flex;
    height: auto;

    h4 {
        font-size: 18px;
        font-weight: bold;
    }

    p {
        font-size: 18px;
        font-weight: normal;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .footerLeft,
    .footerRight {
        display: flex;
        flex-direction: column; 
    }
}

@media (min-width: 768px) and (max-width: 1400px){
    footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-self: flex-start;
        padding-top: 100px;   
        height: auto;

        .footerLeft {
            max-width: 40%;
            margin-left: clamp(80px, 13vw, 108px);
        }

        .footerRight {
            flex-direction: row;
            align-items: flex-start;
            margin-left: clamp(100px, 13vw, 350px);
            gap: clamp(50px, 13vw, 150px);


            nav {
                flex-direction: column;
            }

            div {
                flex-direction: column;
            }
        }

        ul {
            flex-direction: column;
            gap: 0;
        }

        h4 {
            margin-bottom: 5px;
        }

        p {
            margin-top: 0;
        }
    }

}




@media (min-width: 1400px) {
    footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-self: flex-start;
        padding-top: 100px;   

        .footerLeft {
            max-width: 30%;
            margin-left: 108px;
        }

        .footerRight {
            flex-direction: row;
            align-items: flex-start;
            margin-left: 350px;
            gap: 150px;


            nav {
                flex-direction: column;
            }

            div {
                flex-direction: column;
            }
        }

        ul {
            flex-direction: column;
            gap: 0;
        }

        h4 {
            margin-bottom: 5px;
        }

        p {
            margin-top: 0;
        }
    }

}
