header {
    background-color: #011827;
    width: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;

    .logo {
        display: flex;
        align-items: center;

    }

    img {
        width: 128px;
        height: 82px;
    }

    h1 {
        color: white;
        width: 78px;
        font-size: 20px;
        font-weight: 700;
        margin-left: 10px;
    }
}

.menuIcon {
    cursor: pointer;
    z-index: 800;
    padding-top: 15px;
    margin-right: 12px;
    width: 45px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    .hamburgerIcon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .bar {
            width: 45px;
            height: 5px;
            background-color: white;
            border-radius: 5px;
            margin: 4px 0;
        }
    }
}


.mainNav {
    position: fixed;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    background-color: #011827;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(6px) scale(0.92);
    transition: opacity 0.25s ease 0.12s, transform 0.35s cubic-bezier(0.2, 0.8, 0.3, 1) 0.12s, visibility 0s linear 0.12s;

    .closeIcon {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 45px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0s linear 0.3s; 
        z-index: 1001;
        cursor: pointer;

        .closeBar {
            width: 45px;
            height: 5px;
            background-color: white;
            border-radius: 5px;
            position: absolute;
            top: 50%;
            left: 0;
            transform-origin: center;
        }

        .closeBar:first-child {
            transform: translateY(-50%) rotate(45deg);
        }

        .closeBar:last-child {
            transform: translateY(-50%) rotate(-45deg);
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;

        li {
            margin: 45px 0;
        }

        a {
            color: white;
            font-size: 36px;
            font-weight: 700;
            text-decoration: none;
        }
    }
}

.mainNav.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
}

.mainNav.active .closeIcon {
    opacity: 1;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 900;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

@media (min-width: 768px) {
    header {
        height: 216px;
        align-items: flex-start;
        padding: 26px 40px;
        flex-direction: column;
        justify-content: space-between;


        img {
            width: 128px;
            height: 82px;
            align-self: flex-start;
        }

        h1 {
            font-size: 40px;
            width: 404px;
            margin-top: 35px;

        }

        .menuIcon {
            display: none;
        }
    }
.mainNav {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    background-color: transparent;
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: none;
    z-index: auto;

    .closeIcon {
      display: none;
    }

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      gap: 100px;

      li {
        margin: 0;
      }

      a {
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 20px;

        &:hover {
          color: #8ACFE5;
        }
      }
    }
  }

  
  header .mainNav {
    width: 100%;
    justify-content: center;
  }
}