.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    h1 {
        font-size: 32px;
        font-weight: 400;
        margin-top: 60px;
    }
}

.card {
    position: relative;
    flex: 0 0 350px;
    scroll-snap-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;


    &:hover {
        transform: translateY(-5px);
    }

    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
}

.cardTypeIcon {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 40px;
  color: #0f181d;
  z-index: 2;
}

.cardContent {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    h3 {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        color: black;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        color: black;
        margin-bottom: 15px;
        line-height: 1.4;
    }

    button {
        background-color: #E3170A;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        align-self: flex-end;
        width: auto;
    }


    button:hover {
        background-color: #c92032;
    }
}


.rating {
    display: flex;
    align-items: center;

    .fa-star {
        font-size: 15px;
        color: transparent;
        margin-right: 4px;

        &.fa-regular {
            color: #E3170A;

            &:hover {
                font-family: "Font Awesome 6 Free";
            }
        }

        &.fa-solid {
            color: #E3170A
        }
    }
}

.participants {
    color: #777;
    margin-left: 8px;
}

.cardContainer {
    display: flex;
    flex-direction: row;
     gap: clamp(20px, 5vw, 80px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20%;
    padding-right: 10%;
    justify-content: flex-start;
}

@media (min-width: 999px) {
    .panel {
        h1 {
            font-size: 36px;

        }
    }

    .cardContainer {
        justify-content: center;
        flex-wrap: wrap;
        overflow-x: visible;
        padding: 40px 0;
        max-width: 1200px;
        margin: 0 auto;
        gap: 40px;
    }

    .card {
        flex: 1;
        max-width: 350px;
        min-width: 300px;
        scroll-snap-align: none;
        margin-bottom: 60px;
    }

}