.promos {
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        height: auto;
        display: block;
    
}
h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 20px;
    
}

p {
    font-size: 24px;
    font-weight: 400;
    margin: 20px;
}

.buttons {
        border: none;
        padding: 20px 50px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        width: auto;
        font-size: 24px;
        margin: 20px 20px 50px;
}

.btn3 {
        background-color: #8ACFE5;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 20px;
        width: 308px;
        height: 66px;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        cursor: pointer;
    }

.btn4 {
            background-color: #E3170A;
            font-family: "Roboto";
            font-weight: bold;
            font-size: 20px;
            width: 308px;
            height: 66px;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
}

@media (min-width: 768px) and (max-width: 999px) {
  .promos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    margin: 0 auto;
    align-items: center;

    & > div {
      padding: 20px;
    }

    & > div:nth-child(1) { grid-area: 1 / 1; } 
    & > div:nth-child(2) { grid-area: 1 / 2; } 
    & > div:nth-child(3) { grid-area: 2 / 1; } 
    & > div:nth-child(4) { grid-area: 2 / 2; }
  }
}

@media (min-width: 1000px) {
    .promos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    align-items: center;

       & > div:nth-child(2), & > div:nth-child(4) {
      padding: 40px;
      
    }

    & > div:nth-child(1) { grid-area: 1 / 1; } 
    & > div:nth-child(2) { grid-area: 1 / 2; } 
    & > div:nth-child(3) { grid-area: 2 / 2; } 
    & > div:nth-child(4) { grid-area: 2 / 1; }
    }

}