.reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 500px;
    margin-top: 20px;

    .review {
        display: flex;
        align-items: flex-start;
    }

    img {
        height: 73px;
        border-radius: 50px;
        ;
        margin: 30px 20px;
        align-items: center;
    }

    .quote {
        margin: 20px 0 0 0;
        font-style: italic;
        font-weight: 400;
        font-size: 24px;
        color: #000;
    }

    .author {
        margin: 10px 0 0 0;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .reviewDesktop {
        display: none;

    }


    @media (min-width: 1200px) {

        flex-direction: row;
        justify-content: center;
        margin: 50px 150px 0;
        max-width: fit-content;


        .reviewDesktop {
            display: flex;
        }
    }
}