.story {
    background-color: #011827;
    height: 500px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: 28px;
    }

    button {
        background-color: transparent;
        color: #8ACFE5;
        border: 1px solid #8ACFE5;
        border-radius: 3px;
        padding: 20px 70px;
        font-weight: bold;
        font-family: "Roboto";
        font-size: 25px;
    }
}

@media (min-width: 768px) {
    .story {
        margin-top: 80px;
        h3 {
            width: 632px;
        }
    }
}