.top img {
    display: block;
    width: 100%;
    height: 274px;
    object-fit: cover;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;


    .btn1 {
        background-color: #8ACFE5;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 20px;
        width: 308px;
        height: 66px;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        cursor: pointer;
    }

    .btn2 {
        background-color: transparent;
        font-family: "Roboto";
        font-weight: bold;
        color: #36769D;
        text-decoration: underline;
        font-size: 16px;
        height: 66px;
        border: none;
        border-radius: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        cursor: pointer;
    }
}

    .btn3 {
        background-color: #8ACFE5;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 20px;
        width: 308px;
        height: 66px;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        cursor: pointer;
    }

    .btn4 {
        background-color: transparent;
        font-family: "Roboto";
        font-weight: bold;
        color: #36769D;
        text-decoration: none;
        font-size: 16px;
        height: 66px;
        border: none;
        border-radius: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        cursor: pointer;
    }
.btn1::before,
.btn2::before,
.btn3::before,
.btn4::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 10px;
    font-size: 20px;
}

.btn1::before,
.btn3::before {
    content: "\f015";
}

.btn2::before,
.btn4::before {
    content: "\e163";
}

@media (min-width: 768px) {

    .top img {
        height: 500px;
    }



    .buttons {
        flex-direction: row;
        gap: 10px;
        margin-top: -33px;
        justify-content: center;

        .btn1 {
            order: 2;
        }

        .btn2 {
            order: 1;
        }


        .btn2 {
            background-color: #E3170A;
            font-family: "Roboto";
            font-weight: bold;
            font-size: 20px;
            width: 308px;
            height: 66px;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
}